<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tracker</title>  
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if project_list|length >= 1 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Tasks</th>
                    </tr>
                </thead>
                <tbody>
                {% for Project in project_list %}
                    <tr>
                        <td>{{ Project }}</td><td>{{ Tasks|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>  
</body> 
    
    
</html>  